MESHTASTIC_BRIDGE_HOST=127.0.0.1
MESHTASTIC_BRIDGE_PORT=8433
MESHTASTIC_DATABASE_PATH=
MESHTASTIC_DEVICE_NAME=ThinkNode M6
MESHTASTIC_DEVICE_ADDRESS=
MESHTASTIC_API_TOKEN=changeme
MESHTASTIC_RECONNECT_SECONDS=10
MESHTASTIC_CONNECT_TIMEOUT_SECONDS=60
MESHTASTIC_EVENT_BUFFER_SIZE=500
MESHTASTIC_LOG_LEVEL=INFO
MESHTASTIC_INCLUDE_OUTBOUND_EVENTS=true
MESHTASTIC_WANT_ACK=false
MESHTASTIC_DEFAULT_HOP_LIMIT=
MESHTASTIC_SHUTDOWN_TIMEOUT_SECONDS=2
